<html>
    <head>
        <!-- project style sheets -->        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% include 'components/message-template.html' %}
        <title>Chat Client</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                  <h1 class="display-4">My Chat Client!</h1>
                  <p class="lead">A simple chat client by Jeff Manville.</p>
                  <hr class="my-4">
                  <p id="userdetails"><span id="user"></span> <span id="room"></span>insert text here</p>
            </div>
            <div class="row">
                {% include 'forms/NewUser.html' %}
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {% include 'components/ChannelList.html' %}
                    {% include 'forms/NewChannel.html' %}
                </div>
                <div class="col-sm-9">
                    {% include 'components/MessageSection.html' %}
                </div>
            </div>
            
        </div>
    </body>
</html>