<html>
    <head>
        <!-- project style sheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <title>Flask-SocketIO-Chat</title>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: <span id="user"></span>, <span id="room"></span></h1>
        {% include 'components/component.html' %}
        {% include 'forms/NewUser.html' %}
        {% include 'forms/NewChannel.html' %}
        {% include 'components/MessageSection.html' %}
    </body>
</html>